.editUser {
    &__container {
        margin-top: 10px;

        &_title {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;

        &_title {
            color: silver;
        }

        &_input {
            width: 430px;
            margin-top: 5px;
            outline: none;
            border: 1px solid silver;
            height: 35px;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;
        }
    }

    &__footer {
        display: flex;
        justify-content: end;
        gap: 20px;

        &_button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            text-decoration: none;
            outline: none;
            height: 40px;
            width: 150px;
            border: 1px solid silver;

            &:hover {
                box-shadow: 2px -1px 11px -7px rgba(0,0,0,0.86);
                cursor: pointer;
            }
        }

        &_buttonDisabled {
            pointer-events: none;
            background-color: silver;
        }

        &_buttonEdited {
            display: none;
        }
    }
}
